<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>

    <link rel="stylesheet" href="~/css/element-ui.css" />
    <script src="~/js/vue.js" asp-append-version="true"></script>
    <script src="~/js/element-ui.js"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    @RenderBody()
    
   
</body>
</html>
